<!DOCTYPE html> 
<html lang="es"> 
  <head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Mi primer proyecto con Booststrap</title> 
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head> 
  <body> 
    <h1>ÂBienvenido!</h1> 
    <p> Hola a todos desde OpenWebinars.net, mi primera web con Bootsrap ;(</p> 
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script src="js/bootstrap.min.js"></script>
  </body> 
</html> 
